@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Space+Grotesk:wght@500&display=swap');


.root {
    color-scheme: dark;
}

html,body {
    max-width: 100%;
    max-height: 100%;
}

body {

    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}


input {
    height: 45px;
    width: 100%;
    /* color: #DFDEE0; */
    font-size: 18px;
    font-family: 'Space Grotesk';
    font-weight: 500;
    border-radius: 10px;
    border: solid 1px #DFDEE0;
}

input[type="text"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

label {
    font-size: 12px;
    color: #21092F;
}

button {
    font-size: 18px;
    height: 53px;
    width: 100%;
    color: white;
    background-color: #21092F;
    border: none;
    border-radius: 10px;

}

.mobile {
    display: none;
}

.CARD {
    display: grid;
    grid-template-areas: "LEFT RIGHT";
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    min-height: 900px;

}

.right-side {
    /* outline: auto; */
    display: grid;
    grid-template-areas: "Name" "Number" "Expiry" "Confirmation";
    /* grid-template-areas: "CH" "CN" "XPCVC" "Confirm"; */
    width: 381px;
    height: 352px;
    margin: auto;
    margin-left: 30%;

}

.xpcvc {
    display: flex;
    gap: 1em;
    grid-area: Expiry;
}

.expiry {
    display: grid;
    grid-template-areas: "title title" "month year";
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
}

#ExpM {
    width: 90%;
    grid-area: month;
}

#ExpY {
    width: 90%;
    grid-area: year;
}

.cvc {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 90%;
}



.left-side {
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
}

.front {

}

.back {
   
}



.back > *:not(.backside),.front > *:not(.frontside) {
    position: absolute;
}

.front, .back {
    position: relative;
    width: min-content;
}



#Serialnum {
    z-index: 20;
    color: white;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3.42px;
    top: 6.95rem;
    left: 2rem;
}

.card-logo {
    top: 1.5rem;
    left: 2rem;
}

#Fullname {
    bottom: 1rem;
    left: 2rem;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
}

#expdate {
    bottom: 1rem;
    right: 2rem;
    letter-spacing: 2px;
    color: white;
}

#ECVC {
    top: 5.9rem;
    right: 3.5rem;
    color: white;
    letter-spacing: 2px;
}

.front {
    right: -20%;
    top: 20%;
}

.back {
    right: -40%;
    top: 25%;
}

button {
    cursor: pointer;
}

.bluecard {
    filter: drop-shadow(5px 20px 30px gray);
}




#ICON {
    width: 80px;
    aspect-ratio: 1;
}

h2 {
    font-size: 28px;
    text-transform: uppercase;
    color: #21092F;
    letter-spacing: 3.42px;
    margin-bottom: 0;

}

#NOTE {
    margin-bottom: 15%;
    font-size: 18px;
}

.validated {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #8F8694;
}


.NOSHOW {
    display: none;
}

#ErrName, #ErrNumber , #ErrExp, #ErrCVC{
    color: red;
    margin: 0%;
    font-size: 12px;
}


@media (max-width:375px) {
    .left-side {
        background-image: url(images/bg-main-mobile.png);
    }

    .CARD {
        grid-template-areas: "LEFT" "RIGHT";
        grid-template-rows: 50vh 50vh;
        grid-template-columns: 100vw;
    }

    .left-side {
        position: relative;
        grid-area: LEFT;
    }
    .right-side {
        grid-area: RIGHT;
        width: 80%;
        margin-left: 5;
    }

    .bluecard {
        width: 286px;
        height: auto;
    }

    

    #Fullname {
        font-size: 9px;
        letter-spacing: 1.29px;
        left: 20px;
        bottom: 1.5rem;
    }

    #Serialnum {
        font-size: 18px;
        letter-spacing: 2.2px;
        left: 20px;
        top: 4rem;
    }

    .card-logo {
        width: 54px;
        height: auto;
        left: 20px;
        top: 20px;
    }

    #expdate {
        font-size: 9px;
        letter-spacing: 1.29px;
        bottom: 1.5rem;
    }

    #ECVC {
        font-size: 9px;
        letter-spacing: 1.29px;
        top: 3.9rem;
        right: 2.5rem;
    }

    .back {
        left: 20%;
        top: -50%;
    }

    .front {
        z-index: 30;
        top: 35%;
        left: 5%;
    }

}

